/* plus-jakarta-sans-500 - latin */
@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  src: local(""),
    /* IE6-IE8 */ url("../webfonts/plus-jakarta-sans-v3-latin-500.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../webfonts/plus-jakarta-sans-v3-latin-500.woff") format("woff"),
    /* Safari, Android, iOS */
      url("../webfonts/plus-jakarta-sans-v3-latin-500.svg#PlusJakartaSans")
      format("svg"); /* Legacy iOS */
}

/* plus-jakarta-sans-600 - latin */
@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;

  src: local(""),
    /* IE6-IE8 */ url("../webfonts/plus-jakarta-sans-v3-latin-600.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../webfonts/plus-jakarta-sans-v3-latin-600.woff") format("woff"),
    /* Safari, Android, iOS */
      url("../webfonts/plus-jakarta-sans-v3-latin-600.svg#PlusJakartaSans")
      format("svg"); /* Legacy iOS */
}

/* plus-jakarta-sans-700 - latin */
@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  /* IE9 Compat Modes */
  src: local(""),
    /* IE6-IE8 */ url("../webfonts/plus-jakarta-sans-v3-latin-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../webfonts/plus-jakarta-sans-v3-latin-700.woff") format("woff"),
    /* Safari, Android, iOS */
      url("../webfonts/plus-jakarta-sans-v3-latin-700.svg#PlusJakartaSans")
      format("svg"); /* Legacy iOS */
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

:root {
  --sec-bg-color: #f2f4f6;

  --card-hover-bg-color: #1aab7b;
}
.site_header {
  width: 100%;
  position: fixed;
  top: 0;
  background: #fff;
  z-index: 1;
}
.container {
  max-width: 1256px;
  margin: 0 auto;
  padding: 0 20px;
}

/*********************************** Header Start *************************************/
.site_header_wrapper {
  display: flex;

  align-items: center;
  padding-top: 24px;
  justify-content: space-between;
  padding-bottom: 24px;
  border-bottom: 1px solid #eeeef4;
}
.logo_icon:hover {
  opacity: 0.8;
}
.logo_icon:active {
  opacity: 0.6;
}
.header_logo_nav {
  display: flex;
  align-items: center;
}
.navbar {
  margin-right: 303px;
}
.nav_list {
  display: flex;
  width: 402px;
  justify-content: space-between;
  margin-left: 50px;
  padding-left: 0px;
  list-style: none;
}
.nav_list_item_link:hover {
  color: #1aab7b;
}
.nav_list_item_link:active {
  color: #1aab7b;
  opacity: 0.6;
}

.nav_list_item_link {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #101010;
}

.header_btn_link {
  display: block;
  width: 156px;
  height: 41px;
  padding: 12px 12px 12px 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  background-color: #101010;
  color: #ffffff;
  border-radius: 6px;
}
.header_btn_link:hover {
  background: #ffffff;
  color: var(--card-hover-bg-color);
  border: 1px solid var(--card-hover-bg-color);
  border-radius: 6px;
}
.header_btn_link:active {
  background: #707070;
  color: #ffffff;
}
/****************************************** Header End *************************************/

/*******************************************Main  Start************************************/
.hero {
  display: flex;
  padding-top: 180px;
  justify-content: space-between;
  padding-bottom: 156px;
}

.hero_sec_title {
  margin: 0;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 140%;
  color: #101010;
  margin-bottom: 20px;
}

.hero_sec_title span {
  display: block;
  width: 550px;
}

.hero_sec_desc {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #636f87;
  width: 550px;
  margin-bottom: 40px;
}
.youtube_video {
  border-radius: 6px;
}
.hero_sec_btn {
  display: block;
  padding: 20px 40px 20px 40px;
  width: 168px;
  height: 59px;
  background: #1aab7b;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  border-radius: 6px;
  text-align: center;
  color: #ffffff;
}
.hero_sec_btn:hover {
  background: #ffffff;
  border: 1.5px solid var(--card-hover-bg-color);
  border-radius: 6px;
  color: var(--card-hover-bg-color);
}
.hero_sec_btn:active {
  color: #fff;
  background-color: var(--card-hover-bg-color);
  border-radius: 6px;
  opacity: 0.7;
}

/****************************************** help section ************************ */
.help_sec {
  background: #f2f4f6;
  padding-top: 50px;
  padding-bottom: 50px;
}
.help_sec_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.help_sec_title {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 140%;
  text-align: center;
  color: #101010;
  margin-bottom: 40px;
}

.card {
  width: 384px;
  height: 358px;
  background: #f2f4f6;
  border: 2px solid #e1e7ed;
  padding-top: 30px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
}
.card:hover {
  background: #fff;
  border-radius: 6px;
  color: #ffffff;
}
.card:active {
  background-color: var(--card-hover-bg-color);
}
.card:active .card_title {
  color: #fff;
}
.card:active .card_desc {
  color: #fff;
}
.card:active .card_link {
  background-color: var(--card-hover-bg-color);
  color: #fff;
  text-decoration-line: underline;
}
.card:active .card_img {
  background: #fff;
}
.card_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 11px;
}
.card_title {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 140%;
  color: #101010;
}

.card_img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  background: #e1e7ed;
  border-radius: 84px;
}
.card_desc {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #636f87;
  margin-bottom: 23px;
}
.card_link {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  outline: none;
  color: #000000;
  position: absolute;
  bottom: 25px;
}

/******************************* help section end *******************************/

/******************************* work section start  *******************************/

.work_sec_title {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 140%;
  text-align: center;
  color: #101010;
  margin-top: 100px;
}
.work_sec_desc {
  width: 650px;
  font-family: "Plus Jakarta Sans";
  margin: 0 auto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #636f87;
  margin-bottom: 90px;
}
.work_sec_card {
  display: flex;
  gap: 32px;
  margin-bottom: 100px;
}
.work_sec_card2 {
  display: flex;
  gap: 32px;
  margin-bottom: 100px;
  margin-left: 200px;
}

.card_article_title {
  width: 488px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  color: #101010;
  margin-top: 20px;
  margin-bottom: 20px;
}
.card_article_desc {
  width: 488px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #636f87;
}

/*******************************work section end  ***********************************/
/******************************* Contact section start  ******************************/
.contact_sec {
  margin-bottom: 200px;
}
.contact_sec_title {
  width: 411px;
  margin: 0 auto;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 140%;
  text-align: center;
  color: #101010;
  margin-top: 150px;
  margin-bottom: 16px;
}
.contact_sec_desc {
  margin: 0 auto;
  width: 650px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #636f87;
}
.contact_form {
  width: 1008px;
  background: #f2f4f6;
  margin: 0 auto;
  padding: 64px 312px 64px 312px;
}

.contact_form_inputs {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.input {
  width: 384px;
  margin: 0 auto;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #636f87;
  padding-bottom: 21px;
  outline: none;
}
::placeholder {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #101010;
}
.select {
  width: 384px;
  margin: 0 auto;
  border: none;
  background-color: transparent;
  padding-bottom: 21px;
  border: none;
  border-bottom: 1px solid #636f87;
  color: #777879;
  background-color: transparent;
  width: 100%;
  cursor: pointer;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}

.contact_sec_btn {
  width: 180px;
  height: 59px;
  color: #fff;
  margin: 0 auto;
  background: #1aab7b;
  border-radius: 6px;
  border: none;
}
.contact_sec_btn:hover {
  background-color: #fff;
  border: 1px solid var(--card-hover-bg-color);
  color: var(--card-hover-bg-color);
}
.contact_sec_btn:active {
  background: #1aab7b;
  opacity: 0.7;
  border-radius: 6px;
  color: #fff;
}
.contact_sec_end {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #858ea2;
  margin-top: 24px;
}
/********************************* Contact section end  ****************************/

/********************************* footer section start  ***************************/
.site_footer {
  background: #101010;
}
.footer_wrapper {
  display: flex;

  justify-content: space-between;
  padding-top: 100px;
  margin-bottom: 100px;
}
.left_content {
  display: flex;
}

.footer_list {
  margin-right: 151px;
}
.main_list_item {
  margin-bottom: 30px;
}

.main_list_item_link {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
}

.list_item {
  margin-bottom: 26px;
}
.list_item_link:hover {
  color: var(--card-hover-bg-color);
}

.list_item_link {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #a1a8b7;
}
.right_list_item_link {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #a1a8b7;
}

address {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #a1a8b7;
}
.footer_icons {
  margin-top: 34px;
  margin-right: 45px;
}

.line {
  width: 100%;
  height: 2px;
  background: #3b4155;
  margin-bottom: 49px;
}

.footer_end {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 50px;
}
.copyright {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  text-align: right;
  color: #ffffff;
}
